<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <p>Total Income: ₪<%= incomes %></p>
    <p>Total Expense: ₪<%= expenses %></p>
    <p>Total Balance: ₪<%= balance %></p>
</body>
</html>