<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/global-styles.css" />
    <link rel="stylesheet" href="/css/manageCategories.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header><%- include('./partials/navbar.ejs') %></header>

    <main>
      <%- include('./partials/backButton.ejs') %>

      <h1><%= title %></h1>

      <form id="addCategoryForm">
        <input type="hidden" name="user_id" value="<%= user_id %>" />
        <label for="categoryName">Add New Category:</label>
        <input type="text" id="categoryName" name="name" required />
        <button id="addCategoryBtn" type="submit">Add</button>
      </form>

      <p id="addCategoryError" style="display: 'none'; color: red"></p>

      <h2>Existing Categories:</h2>
      <ul id="categoriesList">
        <% categories.forEach(category => { %>
        <li id="category-<%= category.id %>">
          <button
            class="delete-btn"
            data-id="<%= category.id %>"
            user-id="<%= user_id %>"
          >
            x
          </button>
          <%= category.name %>
        </li>
        <% }) %>
      </ul>
    </main>

    <footer><%- include('./partials/footer.ejs') %></footer>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/categories.js"></script>
  </body>
</html>
