<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global-styles.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <header><%- include('./partials/navbar.ejs') %></header>
    <%- include('./partials/backButton.ejs') %>

    <main>
      <h1>Profile</h1>

      <p><span>Username: </span> <%= user.username %></p>
      <p><span>Email: </span> <%= user.email %></p>
      <p><span>Member since: </span> <%= user.created_at %></p>

      <a class="btn" href="/categories/user/<%= user.id %>"
        >Manage Categories</a
      >

      <a class="btn" href="/transactions/user/<%= user.id %>"
        >View Transactions</a
      >

      <a class="btn" href="/budget/user/<%= user.id %>">View Budget Summary</a>

      <button class="logout-btn btn" onclick="logout(event)">Logout</button>
    </main>

    <footer><%- include('./partials/footer.ejs') %></footer>

    <script>
      async function logout(e) {
        try {
          const res = await fetch("/logout");

          if (res.ok) {
            window.location.href = "/login";
          }
        } catch (err) {
          console.error(err);
        }
      }
    </script>
  </body>
</html>
