<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    
    <h2>Add New Transaction:</h2>
    <form action="/transactions" id="addTransactionForm" method="POST" style="display:flex; flex-direction:column; max-width: 300px;">
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <label for="transactionAmount">Amount:</label>
        <input type="text" id="transactionAmount" name="amount" required>
        <label for="transactionDescription">Description:</label>
        <input type="text" id="transactionDescription" name="description" required>
        <label for="transactionDate">Date:</label>
        <input type="date" id="transactionDate" name="transaction_date" required>
        <label for="transactionCategory">Category:</label>
        <select id="transactionCategory" name="category_id">
            <% categories.forEach(category => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
        </select>
        <label for="transactionType">Type:</label>
        <select name="type" id="transactionType">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
        </select>
        <div>
            <button type="submit">Add Transaction</button>
        </div>
    </form>

    <p style="color:red;"><%= error %></p>

    <br>
    <h2>Your transactions:</h2>
    <table style="border-collapse: collapse; border: 1px solid black;">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>Date</th>
                <th>Category</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <% transactions.forEach(transaction => { %>
                <tr>
                    <td><%= transaction.amount %></td>
                    <td><%= transaction.description %></td>
                    <td><%= transaction.transaction_date %></td>
                    <td><%= transaction.category_name %></td>
                    <td><%= transaction.type %></td>
                    <td>
                        <form action="/transactions/delete/<%= transaction.id %>" method="POST" style="display:inline;">
                            <input type="hidden" name="user_id" value="<%= user_id %>" />
                            <button type="submit">x</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
